body {
    background: #cccccc;
}

h1 {
    border: 10px dotted #1f18ef;
    text-align: center;
}

#banner {
    width: 100%;
    height: 50%;
}
p {
    text-align: center;
}

em strong {
    color: red;
}