body {
    background: #cccccc;
}

.titulo-principal {
    text-align: left;
    padding-left: 20px;
}

#banner {
    width: 100%;
    height: 20%;
}

.titulo-centralizado {
    border: 5px solid #1f18ef;
}
p {
    text-align: center;
}

em strong {
    color: red;
}